#about-section {
    padding-top: 7rem;
    background-image: url('../images/location/interior-1.jpg');
    background-position: center;
    background-size: cover;

    overflow-x: hidden;
}

#about-section .about-container p {
    color: var(--light-font-color);
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.7);
} 

#about-section .family {
    background-image: url('../images/people/borthers.jpg');
    background-position: center;
    background-size: cover;

    padding-bottom: 20rem;

    box-shadow: inset 0 0 200px var(--main-1-color);
}
#about-section {
    background-image: url('../images/location/interior-1.jpg');
    background-position: center;
    background-size: cover;

    overflow-x: hidden;
}

#about-section .about-container p {
    color: var(--light-font-color);
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.7);
} 

#about-section .family {
    background-image: url('../images/people/borthers.jpg');
    background-position: center;
    background-size: cover;

    padding-bottom: 20rem;

    box-shadow: inset 0 0 200px var(--main-1-color);
}

#about-section .family p {
    background-image: linear-gradient(to right,transparent, var(--highlight-color), transparent);
}