
#event-section {
    background-image: url('../images/food/wine-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#event-section .card {
    background-color: var(--highlight-color);
}

#event-section .content {
    color: var(--main-1-color);
}

#event-section .event-description {
background-image: linear-gradient(to bottom, var(--main-1-color) 75%, transparent);
}

#event-section .event-title {
    border-bottom: 2px solid var(--dark-font-color);
}

#event-section .coming-soon p {
    color: var(--dark-font-color);
    background-color: var(--highlight-color);
}