#footer {
    background:
        url('../images/icons/logo.png') no-repeat,
        radial-gradient(circle at 50% 100%, var(--highlight-color) 0%, var(--footer-color) 60%);
    background-position: center;
    background-size: contain;

    border-top: 2px solid var(--highlight-color);
}

#footer .separe {
    border-image: linear-gradient(to right, transparent 30%, var(--light-font-color) 30%, var(--light-font-color) 70%, transparent 70%) 1;
    border-style: solid;
    border-width: 1px 0 0 0;
}

#footer .separe a {
    color: var(--light-font-color);
}