
#gallery-section {
    background-image: url('../images/food/food-background-2.jpg');

    background-size: cover;
    background-position: center;
}

#gallery-section .columns > div {
    max-width: 500px;
}

#gallery-section .gallery-description {
    color: var(--light-font-color);
}

#gallery-section .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

#gallery-section .image-wrapper .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    border: 2px solid var(--highlight-color);
}

#gallery-section .image-description {
    overflow-y: auto;
}

#gallery-section .blur p {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: white;
    transition: opacity 0.8s ease-in-out;
    overflow-y: auto;
}

#gallery-section .blur:hover p {
    opacity: 1;
}

#gallery-section .blur img {
    transition: all 0.8s;
    filter: none;
}

#gallery-section .blur:hover img {
    filter: blur(5px) brightness(0.4);
    border: 10px solid var(--dark-font-color);
}

#gallery-section .blur:not(:hover) img {
    filter: blur(0);
    transition: filter 0.8s ease-in-out;
}

#gallery-section .menu-link {
    color: var(--light-font-color);
}

#gallery-section .menu-link p {
    transition: all 250ms ease-in-out;

    border-radius: 15px;
    border: 1px solid var(--highlight-color);
    background-color: var(--dark-font-color);
}

#gallery-section .menu-link p:hover  {
    transform: scale(1.1);
}

#gallery-section .menu-link a {
    color: var(--highlight-color);
}