
@media screen and (max-width > 1024px) {
    #location-section .location-description {
        line-height: 2.25rem;
    }    
}

#location-section .button {   
    appearance: none;
    background-image: none;
    padding-right: 1rem;
    cursor: pointer;

    color: var(--dark-font-color);
    background-color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
    border-radius: 4px;
    padding: 0.5rem;
    outline: none;

    transition: all 0.2s ease-in-out;
}
    
#location-section button:hover {
    background-color: transparent;
    color: var(--light-font-color);
}

#location-section .modal-content {
    background-color: var(--main-1-color);
    border: 2px solid var(--highlight-color);
}

#location-section label {
    color: var(--light-font-color);
}

#location-section .input {
    border: 2px solid var(--main-2-color);
    background-color: var(--main-1-color);
    color: var(--light-font-color);
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    transition: all 100ms ease-in-out;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#location-section .input[placeholder="Message"] {
    height: 100px;
    
}

#location-section .input:focus {
    border: 2px solid var(--highlight-color);
    background-color: var(--main-1-color);
    
}

/* Contact us modal */
#location-section .modal {
    z-index: 999;
}