/*
    Hero-section 
*/

#hero-section {
    
    height: 100vh;
    
    background-image: url('/assets/images/food/vini-vari.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#hero-section .content-wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 8rem;
}

#hero-section .menu-description {
    margin-top: 16rem;
    color: var(--light-font-color);
}

#hero-section .custom-button {
    
    background-color: var(--trasparent-black-1);
    color: var(--light-font-color);

    width: 200px;

    border: 2px solid var(--highlight-color);

    cursor: pointer;
    
    transition: all 0.2s ease;
}

#hero-section .custom-button:hover {
    transform: scale(1.1);
}