
@media screen and (max-width > 1024px) {
    #location-section .location-description {
        line-height: 2.25rem;
    }    
}

#location-section .modal-content {
    background-color: var(--main-1-color);
    border: 2px solid var(--highlight-color);
}

#location-section label {
    color: var(--light-font-color);
}
/* Contact us modal */
#location-section .modal {
    z-index: 999;
}