@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Plus');
@import url('https://fonts.googleapis.com/css?family=Carattere');

#menu-section {
    padding-top: calc(var(--navbar-height) + 4rem);
    background-color: var(--highlight-color);
    background-image: linear-gradient(to bottom, var(--highlight-color), #cd731f);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    overflow-y: hidden;

    color: var(--dark-font-color);
}

#menu-section h1 {
    background-color: transparent;
}

#menu-section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
}


#menu-section .menu-description {
    font-family: 'Gentium Book Plus';
    font-weight: normal;
}

.menu-entry {
    font-family: 'Gentium Book Plus';
    font-weight: normal;
}

#menu-section .menu-title {
    font-family: 'Gentium Book Plus';
    font-weight: normal;
}