html, main {
    background-color: var(--main-1-color);
}

#menu-section {
    margin: 3rem;
    background-color: var(--highlight-color);
}

#menu-section .menu-entry {
    margin-bottom: 3rem;
    color: var(--dark-font-color);

}

#menu-section .menu-title {
    color: var(--dark-font-color);
}

#menu-section .menu-description {
    color: var(--dark-font-color);
    
}