/*
  Navbar code
*/

#header .navbar {
  background-color: var(--trasparent-black-1);
}

#header .navbar a {
  background-color: transparent;
  height: 90px; /* height of the logo */
}

.navbar-burger {
  color: var(--light-font-color);
}

#header .navbar-item {
    display: flex;
    justify-content: center;

    width: 150px;

    color: var(--light-font-color);
}

#header .navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

#header .navbar-visible {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#header .button-highlight {
    background-image: url('/assets/images/svg/Button\ Highlight.svg');
    background-repeat: no-repeat;   
    background-size: contain;

    background-position: center;
    z-index: inherit;
}
