/*
  Navbar code
*/
#navbar .navbar {
  background-color: transparent;

  transition: all 250ms ease-in-out;
}

#navbar .navbar-burger {
  display: flex;

  height: inherit;
  justify-content: center;
}

#navbar .navbar-brand  {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

#navbar .navbar-brand .navbar-item img {
  width: auto;
  height: var(--navbar-height);

  max-height: none;
  max-width: none;
}

#navbar .navbar-brand i, #navbar .navbar-menu a {
  color: var(--light-font-color);

  transition: all 250ms;
}

#navbar .navbar-brand:hover i, #navbar .navbar-menu a:hover {
  color: var(--highlight-color);
}

#navbar .navbar-menu {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.3);

  width: fit-content;
  float: right;
  
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  #navbar .navbar-menu {
    display: flex !important;
    justify-content: space-between;
  }

  #navbar .navbar {
    background-color: rgba(0, 0, 0, 0.3);
  }

  #navbar .navbar-burger {
    display: none;
  }
}

#navbar .navbar-menu .navbar-item {
  flex: 1;
  text-align: center;
  white-space: nowrap;
}

#navbar .navbar-menu .navbar-item:hover {
  transform: scale(1.1);
  background-color: transparent;
}

#navbar .navbar-end {
  position: relative;
}

#navbar .navbar-current {
  color: var(--highlight-color);
  transform: scale(1.1);
}

.hide-navbar {
  transform: translateY(-100%);
}