#newsletter-section .modal-content {
    background-color: var(--main-1-color);
    border: 2px solid var(--highlight-color);
}

#newsletter-section label {
    color: var(--light-font-color);
}

#newsletter-section .icon {
    color: var(--light-font-color);
}