
#reservation-section {
    background-image: url('../images/location/interior-2.jpg');

    background-position: center;
    background-size: cover;
}

#reservation-section .disclaimer {
    background-color: var(--main-1-color);
}

#reservation-section .yelp-container iframe {
    overflow: hidden;
}