/* 
    Style.css
*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Montserrat:wght@400;600&display=swap');

:root {
    --highlight-color: #FF9C40;
    --light-font-color: #e3e3e3;
    --dark-font-color: #090708;
}

.title-font {
    font-family: 'Crimson Text';
    font-weight: bold;
}

.text-font {
    font-family: 'Montserrat';
    font-weight: normal;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.nav-link:focus {
    outline: none;
    box-shadow: 0 0 0 2px orange;
    border-radius: 50%;
}