/* 
    Style.css
*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Plus');
@import url('https://fonts.googleapis.com/css?family=Carattere');

:root {
    --main-1-color: hsla(210, 4%, 9%, 1);
    --main-2-color: #424242;
    --footer-color: #0f0f0f;
    --highlight-color: #FF9C40;
    --highlight-color-2: #e88c35;
    --light-font-color: #fffcfc;
    --dark-font-color: #090708;

    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);

    --trasparent-black-1: rgba(0, 0, 0, 0.5);

    /* transition */
    --light-font-color-a: #e3e3e355;
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --trasparent-black-1: rgba(0, 0, 0, 0.5);

    /* transition */
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;

    /* radius */
    --radius-24: 24px;
    --radius-circle: 50%;

    /* font */
    --weight-regular: 400;
    --weight-bold: 700;

    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%, transparent 66.66% 75%);

    --navbar-height: 90px;
}

* {
    margin: 0;
    padding: 0;
}

html, main {
    background-color: var(--main-1-color);
    scroll-behavior: smooth;

    overscroll-behavior: none;
}

.title-font {
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--light-font-color);

    transition: all 250ms;
}

.text-font {
    font-family: 'Montserrat';
    font-weight: normal;
    color: var(--light-font-color);

    transition: all 250ms;
}

.detail-font {
    font-family: 'Montserrat';
    font-weight: normal;
    color: var(--light-font-color);

    transition: all 250ms;
}

.menu-font {
    font-family: 'Carattere';
    font-weight: normal;
}

/* General website styles */
.title {
    color: var(--dark-font-color);
    background-color: var(--highlight-color);
}

section {
    transition: all 500ms ease-in-out;
}

@media (max-width: 769px) {
    .mx-6 {
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
}

a:active {
    background-color: transparent;
    outline: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    background-color: var(--smoky-black-3);
}

::-webkit-scrollbar-track {
    background-color: var(--smoky-black-3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--highlight-color);
    border-radius: 0px;
    max-height: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight-color)
}